/**
 * for mobile devices
 *
 * @format
 */

/* xs-device */
@media (max-width: 768px) {
  .verify-otp-modal-xl h1.heading,
  .login-modal .Login-div .right-div form h5.heading,
  .monthly-expenses-container h4,
  .normal-heading,
  .explore-destinations h4,
  .why-study-international h4.title,
  .work-oppurtunity h4,
  .univeristy-accordion h4.title,
  .faq-accordion .accordion-body,
  .visa-banner .content h4.title {
    font-size: 20px;
  }

  .verify-otp-modal-xl button,
  .verify-otp-modal-xl .resend-otp,
  .login-modal .Login-div .right-div form button.submitBtn,
  .login-modal .Login-div .right-div form input,
  .adwizor-banner .adwizor-search .search-bar .dropdown-button,
  .find-an-adwizor-filter .base-btn span,
  .verfied-adwizor .main .content p.faded,
  .filter-college-section .result-div .search-div .dropdown-button,
  .filter-college-section .result-div .results .main .head .title .course-title,
  .top-universities-card .head .title p,
  .monthly-expense-card .desc,
  .country-card .content p.title-bold,
  .why-study-international p.description,
  .why-study-international .count-list li,
  .top-program-card .content p.desc,
  .visa-banner .content p.desc,
  .login-modal .Login-div .right-div form .select-btn button {
    font-size: 14px;
  }

  .visa-banner .content p.desc-2,
  .faq-accordion .accordion-header,
  .work-oppurtunity-card p,
  .top-program-card .content p.title,
  .why-study-international button.read-more,
  .country-card .content p.title,
  .monthly-expense-card .title {
    font-size: 16px;
  }

  .top-universities-card .content .description div p.title,
  .btn-internation-list button,
  .btn-internation-list,
  .filter-college-section .result-div .results .main .brochure ul li,
  .filter-college-section .result-div .results .main .head .title p {
    font-size: 12px;
  }

  .homepage {
    padding: 10px;
  }
  .adwizor-banner .right {
    display: none;
  }
  .adwizor-banner .left {
    width: 100%;
  }
  .adwizor-banner .left h3 {
    font-size: 25px;
  }
  .adwizor-banner .left .content {
    padding: 20px;
  }
  .adwizor-banner .left .highlighted {
    font-size: 28px;
  }
  .adwizor-banner .adwizor-search {
    border-radius: 0;
    padding: 20px;
  }
  .adwizor-banner .adwizor-search .search-bar .dropdown-button {
    min-width: 100px;
  }
  .how-it-works .curved-line {
    display: none;
  }
  .testimonial-section {
    margin-top: 20px;
  }
  .margin-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .find-an-adwizor-filter .base-btn {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
  }
  .verfied-adwizor .main {
    flex-wrap: wrap;
  }
  .verfied-adwizor .main img {
    width: 100%;
    height: 150px;
  }
  .verfied-adwizor .main .content p.faded {
    margin-top: 5px;
  }
  .filter-college-section {
    flex-wrap: wrap;
  }
  .filter-college-section .filters-div {
    width: 100%;
    border: none;
    padding-bottom: 0;
  }
  .filter-college-section .result-div {
    padding: 0;
  }
  .filter-college-section .filters-div .content-div {
    margin: 0;
  }
  .filter-college-section .result-div .search-div {
    gap: 10px;
  }
  .filter-college-section .result-div .search-div .dropdown-button {
    width: 100%;
  }
  .filter-college-section .result-div .search-div .filter-img {
    display: none;
  }
  .filter-college-section .result-div .results .main .head {
    padding: 10px;
    flex-direction: column;
  }
  .filter-college-section .result-div .results .main .head .title {
    gap: 10px;
    width: 100%;
  }
  .filter-college-section .result-div .results .main .details {
    padding: 10px;
    flex-direction: column;
  }
  .filter-college-section .result-div .results .main .details img.college-img {
    width: 100%;
  }
  .filter-college-section .result-div .results .main .brochure {
    padding: 10px;
  }
  .filter-college-section .result-div .results .main .head .actions {
    align-self: flex-end;
    padding-right: 10px;
  }
  .btn-internation-list {
    justify-content: flex-start;
    padding: 0 10px;
  }
  .btn-internation-list button {
    min-width: auto;
  }
  .box-shadow-container {
    padding: 20px;
  }
  .country-card {
    width: 100%;
  }
  .top-universities-card {
    width: 100%;
  }

  .monthly-expense-card {
    width: 100%;
  }
  .why-study-international {
    padding: 20px 10px;
  }

  .work-oppurtunity-card {
    max-width: 100%;
  }
  .boxShadow-container {
    padding: 10px;
  }
  .work-oppurtunity {
    width: 100%;
    padding: 10px;
  }

  .grid-container-for-2 {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }

  .faq-accordion {
    padding: 0;
  }

  .visa-banner {
    flex-direction: column;
  }
  .visa-banner .main-img {
    max-width: 200px;
  }
  .visa-banner .content {
    max-width: 100%;
  }

  .login-modal .Login-div .right-div form .select-btn {
    flex-wrap: wrap;
  }
  .login-modal .Login-div .right-div form .select-btn button {
    width: 120px;
  }

  .verify-otp-modal-xl .otp-input input {
    width: 40px;
    height: 40px;
  }
  .user-dashboard .user-sidebar{
    display: none;
  }
  .user-dashboard .remains{
    width: 100%;
  }
  .adwizors-swiper .card .detail{
    flex-direction: column;
  }
  .adwizors-swiper .card .detail .mainImg{
    width: 100%;
  }
  .adwizors-swiper .card .detail .mainImg{
    object-position: top center;
  }
  .adwizors-swiper .card .btn-container button{
    width: 100%;
  }
}

/* avg device */
@media (max-width: 980px) {
  .login-modal .Login-div {
    flex-wrap: wrap;
  }
  .login-modal .Login-div .left-div {
    display: none;
  }
}

/* xs-device */
@media (max-width: 480px) {
  .adwizor-profile-section .info {
    flex-direction: column;
    gap: 10px;
  }
  .adwizor-profile-section .info .profile-img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
  }
  .adwizor-profile-section .info .content h4 {
    font-size: 20px;
    text-align: center;
  }
  .adwizor-profile-section .info .content p {
    font-size: 16px;
  }
  .adwizor-profile-section .info .content .btn-container button {
    width: 160px;
    font-size: 14px;
  }
}
