/**
 * for mobile devices
 *
 * @format
 */

@media (max-width: 768px) {
  .homepage {
    padding: 10px;
  }
  .adwizor-banner .right {
    display: none;
  }
  .adwizor-banner .left {
    width: 100%;
  }
  .adwizor-banner .left h3 {
    font-size: 25px;
  }
  .adwizor-banner .left .content {
    padding: 20px;
  }
  .adwizor-banner .left .highlighted {
    font-size: 28px;
  }
  .adwizor-banner .adwizor-search {
    border-radius: 0;
    padding: 20px;
  }
  .adwizor-banner .adwizor-search .search-bar .dropdown-button {
    font-size: 14px;
    min-width: 100px;
  }

  .how-it-works .curved-line {
    display: none;
  }
  .normal-heading {
    font-size: 20px;
  }

  .testimonial-section {
    margin-top: 20px;
  }

  .margin-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .find-an-adwizor-filter .base-btn {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
  }
  .find-an-adwizor-filter .base-btn span {
    font-size: 14px;
  }

  .verfied-adwizor .main {
    flex-wrap: wrap;
  }

  .verfied-adwizor .main img {
    width: 100%;
    height: 150px;
  }
  .verfied-adwizor .main .content p.faded {
    font-size: 14px;
    margin-top: 5px;
  }
  .filter-college-section {
    flex-wrap: wrap;
  }
  .filter-college-section .filters-div {
    width: 100%;
    border: none;
    padding-bottom: 0;
  }
  .filter-college-section .result-div {
    padding: 0;
  }
  .filter-college-section .filters-div .content-div {
    margin: 0;
  }
  .filter-college-section .result-div .search-div {
    gap: 10px;
  }
  .filter-college-section .result-div .search-div .dropdown-button {
    width: 100%;
    font-size: 14px;
  }
  .filter-college-section .result-div .search-div .filter-img {
    display: none;
  }
  .filter-college-section .result-div .results .main .head {
    padding: 10px;
    flex-direction: column;
  }
  .filter-college-section .result-div .results .main .head .title p {
    font-size: 12px;
  }
  .filter-college-section .result-div .results .main .head .title{
    gap: 10px;
    width: 100%;
  }
  .filter-college-section
    .result-div
    .results
    .main
    .head
    .title
    .course-title {
    font-size: 14px;
  }

  .filter-college-section .result-div .results .main .details {
    padding: 10px;
    flex-direction: column;
  }
  .filter-college-section .result-div .results .main .details img.college-img {
    width: 100%;
  }
  .filter-college-section .result-div .results .main .brochure{
    padding: 10px;
  }
  .filter-college-section .result-div .results .main .head .actions{
    align-self: flex-end;
    padding-right: 10px;
  }
  .filter-college-section .result-div .results .main .brochure ul li{
    font-size: 12px;
  }
}
